body {
  margin: 0; }

.wrapperAll {
  display: grid;
  grid-template-columns: 5em 1fr;
  grid-template-rows: 3.6em 1fr;
  grid-template-areas: "menu search" "menu main";
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif; }

/*SearchBar*/
.headerWrapper {
  grid-area: search;
  background-color: #eaeaea;
  width: 100%;
  -webkit-box-shadow: 0px 1px 11px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 11px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 11px -4px rgba(0, 0, 0, 0.75); }
  .headerWrapper .headerContainer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5em 1em;
    box-sizing: border-box; }
  .headerWrapper .sectionSide--left {
    width: 85%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden; }

@media screen and (max-width:1024px) {
  .headerWrapper .sectionSide--left {
    width: 100%; } }
  .headerWrapper .sectionSide--right {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between; }

@media screen and (max-width:1024px) {
  .headerWrapper .sectionSide--right {
    display: none;
    padding: 0px; } }
    .headerWrapper .sectionSide--right .squareSection, .headerWrapper .sectionSide--right .circleSection {
      display: flex;
      justify-content: space-around;
      height: 100%;
      align-items: center; }
    .headerWrapper .sectionSide--right .squareSection {
      width: 60%;
      padding: 0 1em;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 768px) {
  .headerWrapper .sectionSide--right .squareSection {
    width: 15%; } }

@media screen and (min-width: 1024px) {
  .headerWrapper .sectionSide--right .squareSection {
    padding-right: 8px; } }
    .headerWrapper .sectionSide--right .circleSection {
      width: 40%; }

.searchWrapper {
  height: 100%; }
  .searchWrapper .searchContainer {
    height: 100%;
    display: flex; }
    .searchWrapper .searchContainer .searchButton {
      height: 100%;
      border: none;
      background-color: #332e58;
      width: 3em;
      padding: 0.5em;
      box-sizing: border-box;
      color: #ffffff;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .searchWrapper .searchContainer .searchInput {
      width: 100%;
      border: none;
      padding: 0.5em 1em; }

.searchItem {
  height: 2em;
  width: 2em;
  border-radius: 4px; }

@media screen and (max-width: 768px) {
  .searchItem {
    display: none; } }

@media screen and (min-width: 1024px) {
  .searchItem {
    height: 1.6em;
    width: 1.6em; } }
  .searchItem--blue {
    background-color: #276296; }
  .searchItem--violet {
    background-color: #332e58; }

.itemCircle {
  height: 2em;
  width: 2em;
  border-radius: 100%;
  box-shadow: 2px 2px 5px #c8ccd1; }
  .itemCircle--white {
    background-color: #ffffff; }

/*navBar*/
.iconBar {
  width: 100%;
  min-width: 70px;
  height: 100vh;
  background: linear-gradient(153deg, #2a0144 0%, rgba(47, 50, 102, 0.787553) 50%, #486ea6 100%);
  position: relative; }
  .iconBar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: Silver; }
  .iconBar a:hover {
    background-color: #03003b;
    color: white; }
  .iconBar a.lastIcon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #ffff; }

.active {
  background: linear-gradient(153deg, rgba(255, 255, 255, 0.224527) 0%, rgba(47, 50, 102, 0.0900735) 50%, rgba(255, 255, 255, 0.193715) 100%); }

.contenedorIcon {
  position: relative; }
  .contenedorIcon div:nth-child(1) {
    font-size: 20px;
    text-align: center;
    margin-top: 5px; }
  .contenedorIcon div:nth-child(2) {
    font-size: 10px;
    margin-top: 5px;
    text-transform: uppercase; }
  .contenedorIcon div:nth-child(3) {
    position: absolute;
    right: -2px;
    top: -10px;
    border: 2px solid #af3c3c;
    border-radius: 14px;
    background-color: #af3c3c;
    color: #fff;
    width: 17px;
    font-size: 12px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.mainWrapper {
  grid-area: main;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(580px, 2fr) minmax(300px, 1fr);
  grid-column-gap: 1em;
  grid-template-areas: "box aside";
  background-color: #d5d5d5; }
