@import "variables";
body{
    margin:0;
  }

  .wrapperAll{
    display: grid;
    grid-template-columns: $width-colum 1fr;
    grid-template-rows: $height-row 1fr;
    grid-template-areas:
    "menu search"
    "menu main";
    height: 100vh;
    font-family:$font-family;
  } 
    
/*SearchBar*/
.headerWrapper {
  grid-area: search;
  background-color: $light-gray; 
  width: 100%;
  -webkit-box-shadow: 0px 1px 11px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 11px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 11px -4px rgba(0,0,0,0.75);
  .headerContainer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5em 1em;
    box-sizing: border-box;
  }
  .sectionSide {
    &--left {
      width: 85%;
      height: 100%;
      background-color: $white;
      overflow: hidden;
      @media#{$largeMax}{
        width:100%;
      }
    }
    &--right {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      @media#{$medium}{
        display: none;
      }
      
      .squareSection, .circleSection {
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
      }
      .squareSection {
        width: 60%;
        padding: 0 1em;
        border-right: 1px solid rgba($black, .2);
        @media#{$medium}{
          width:15%;
        }
        @media#{$large}{
          padding-right:8px;
          
        }
        @media#{$largeMax}{
          padding-right:8px;
          width: 20%;
        }

      }
      .circleSection {
        width: 40%;
      }
    }
  }
}

.searchWrapper {
  height: 100%;
  .searchContainer {
    height: 100%;
    display: flex;
    .searchButton {
      height: 100%;
      border: none;
      background-color: $violet;
      width: 3em;
      padding: 0.5em;
      box-sizing: border-box;
      color: $white;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .searchInput {
      width: 100%;
      border: none;
      padding: 0.5em 1em;
    }
  }
}
.squareSection
.searchItem {
  height: 2em;
  width: 2em;
  border-radius: 4px;
  @media#{$largeMax}{
    display: none;
    padding: 0px;
  }
  @media#{$large}{
  height: 1.6em;
  width: 1.6em;
   }
  &--blue {
    background-color: $blue;
  }
  &--violet {
    background-color: $violet;
  }
}

.itemCircle {
  height: 2em;
  width: 2em;
  border-radius: 100%;
  box-shadow: 2px 2px 5px $shadow;
  &--white {
    background-color: $white;
    ;
  }
}
/*navBar*/
  
  .iconBar {
    width: 100%;
    min-width: 70px;
    height:100vh;
    background: $gradient;
    position: relative;
    a {
        display: block; 
        text-align: center; 
        padding: 16px; 
        transition: all 0.3s ease; 
        text-decoration: none;
        color:Silver; 
    }

    & a:hover {
        background-color:#03003b;
        color:white;
    }
    a.lastIcon{
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        color:#ffff;
        }
}
  .active {
  background:$iconActive;
  }
  
  .contenedorIcon {
    position: relative;
    & div:nth-child(1){
        font-size: 20px;
        text-align: center;
        margin-top:5px;
    }
    & div:nth-child(2){
        font-size: 10px;
        margin-top:5px;
        text-transform: uppercase;
    }
    & div:nth-child(3){
        position: absolute;
        right: -2px;
        top: -10px;
        border: 2px solid $notification;
        border-radius: 14px;
        background-color: $notification;
        color: #fff;
        width: 17px;
        font-size: 12px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);;
    }
  }

  /*mainContainer*/

  .mainWrapper {
    grid-area: main;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(580px, 2fr) minmax(300px, 1fr); 
    grid-column-gap: 1em;
    grid-template-areas: "box aside"; 
    background-color:#d5d5d5;  

    @media#{$largeMax}{
      grid-template-columns: 100%;
      
    .asideContent { 
      height: 100%;
      background-color: $white;
      border-radius: 3px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    }
    .mainContent {
      grid-area: box;
      background-color: #ffffff;
      padding: 1em;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 31% 33% 33%;
      grid-template-rows: 49% 48%;
      grid-column-gap: 0.8em;
      grid-row-gap: 0.8em;
      border-radius: 3px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);  
      @media#{$largeMax}{
      grid-template-columns: 100%;
      grid-template-rows: 46% 50%;}}
    .asideContent { 
      height: 100%;
      background-color: $white;
      border-radius: 3px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
  
  }

  
  .card{
  background-color: #f4f4f4;
  height: 100%;
  border-radius:3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  .mainBoxImg{
    background-image: url("../assets/image.png");
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 15vh;
  }
  .mainBox{
    height: 15vh;
    background: #eaeaea;
  h4{
      padding-top:20px;
      padding-right:30px;
      padding-left:20px;
      padding-bottom: 0px;
      margin: 0;
      border-radius: 3px;
      font-size: 1vw;
      line-height: 1.5 ;
      @media#{$largeMax}{
        font-size: 2vw;}
      @media#{$small}{
          font-size: 3.2vw;}
       
  }
  }
    p{
      padding: 30px 30px 5px 30px;
      font-size:0.8vw ;
      line-height: 1.8 ;
      color: #888888;
      margin:0;
      @media#{$largeMax}{
        font-size: 1.6vw;}
        @media#{$small}{
          font-size: 2.8vw;}

    }
}

.ribbon{
  position: relative;
  padding: 0 0.5em;
  font-size: 2.000em;
  margin: 0 0 0 2px;
  color: #e6e2c8;
  border-radius: 0 15px 15px 0;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
  width:30%;
  font-size: 1.5vw;
  font-family:$font-family;
  text-transform: uppercase;
  div{
    font-size: 1.7vh;
    padding: 5px 0px 5px 20px;
    font-weight: bold;
  }

  &.red{
    background-color:$red;
  }
  &.green{
    background-color:$green;
    }

  &:before, &:after{
      position:absolute;
      content: '';
      display: block;
  }
  &:before{
    width: 1vw;
    height: 100%;
    padding: 0 0 0.438em;
    top: 0;
    left: -0.5em;
    background: inherit;
    border-radius: 0.313em 0 0 0.313em;
     
  }
  &:after{
    width: 6px;
    height: 0.313em;
    background: rgba(0, 0, 0, 0.35);
    bottom: -0.313em;
    left: -3px;
    border-radius: 0.313em 0 0 0.313em;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
  }
}